form{
  margin:20px;
}

label{
  display: block;
  margin-bottom: 10px;
}

input{
  margin-left: 10px;
}

input[type="checkbox"]{
  margin-left: 0;
  margin-left: 10px;
}

button{
  display: block;
  max-width: 200px;
  padding: 10px 20px;
  margin-top: 20px;
}

span{
  color: red;
  font-size: 0.8em;
}